@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/loginStyle.css" asp-append-version="true"/>

<div class="container-modal">
    <div class="modal">
        <form action='@Url.Action("Login", "Account")' method="post">
            <h1>Logearse</h1>

            @* Espacio para campo texto usuario *@

            <div>
                <label for="username"><b>Usuario</b></label>
                <input type="text" placeholder="Ingresa tu usuario" name="username" required>
            </div>

            @* Espacio para campo texto contraseña *@

            <div>
                <label for="contraseña"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingresa tu contraseña" name="contraseña" required>
            </div>

            <p style="color: red;">@ViewBag.Error</p>

            <input type="submit" value="Iniciar Sesión">
        </form>

        <a href='@Url.Action("OlvideContraseña", "Account")'>Olvide mi contraseña</a>
        <h3>¿No tenes Cuenta? <a href='@Url.Action("Registro", "Account")'>Registrate</a></h3>
    </div>
</div>